* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 25px;
  background-color: bisque;
}

.container > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.container > ul > li {
  border: 1px solid black;
  display: flex;
  margin: 20px;
}

.day {
  display: block;
  font-style: italic;
  font-size: 15px;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 150px;
  padding: 10px;
}
.container2:hover {
  background-color: brown;
}

.container2 > img {
  display: block;
}
