* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}

.container > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.container > ul > li {
  display: flex;
  margin: 20px;
}

.day {
  display: block;
  font-style: italic;
  font-size: 15px;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  width: 130px;
  padding: 10px;
}

.container2 > img {
  display: block;
}

.container2:hover {
  background-color: #cee1ec;
  opacity: 1;
  border: 2px solid #b0def8;
  border-radius: 10px;
}
.selected {
  margin-left: 480px;
  display: flex;
}

.txt {
  margin-top: 250px;
  text-align: center;
}
