* {
  margin: 0;
  padding: 0;
  background-color: azure;
}

.App {
  text-align: center;
  margin-top: 5px;
}

.App > button {
  width: 10%;
  color: #f0f0f0;
  background-color: rgb(247, 198, 21);
  border-style: none;

  margin-left: 3px;
}
.listt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  box-shadow: 10px 10px 35px -26px rgba(0, 0, 0, 0.75);
  margin: 2%;
}

.img-container img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.context-header {
  margin-top: 1%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
